@import url('https://fonts.cdnfonts.com/css/fox-on-the-run');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fox on the run";
}



/* high level positioning and general big tweaks and setup */

body {
    width: 100%;
    background-image: url("../images/kai-pilger-Ef6iL87-vOA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(228, 228, 228);
    overflow-x: hidden;
    /* display: flex;
    justify-content: center; */
}

#all-container {
    width: 90%;
    margin: 0 auto;

}

#content-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(212, 227, 255);
    padding: 25px;
    background: radial-gradient(circle, rgba(44, 46, 56, 1) 0%, rgba(16, 16, 17, 1) 100%);
    text-align: center;
    border-radius: 5%;
    width: 320px;
    min-height: 330px;
    max-height: 600px;
    overflow-y: auto;
    box-shadow: rgb(174, 204, 247) 1px 1px 5px;


}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: rgb(174, 204, 247) 1px 1px 7px;
    --darkreader-inline-color: #e8e6e3;
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: #74231b;
}

.headings-containers {
    margin-bottom: 15px;
}

/* primary section covers all large sections of page like top, middle, cart, pirates*/
.primary-section {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px 30px 0px;
    flex-wrap: wrap;
}


/* selectors, inputs and lists */

.selector {
    margin: 5px 0px 30px 0px;
    padding: 2px;
    background-color: #e4e6f1;
    color: black;
    font-size: 16px;
    text-shadow: 0px 0.3px 0px #313131;

}

input {
    padding: 2px;
    background-color: #e4e6f1;
    color: black;
    text-shadow: 0px 0.3px 0px #313131;
}

.list {
    list-style-type: disc;
}

.flex-list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}




/* button styles */

button {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: Arial;
    font-size: 17px;
    padding: 4px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
    margin-top: 20px;
}

button:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

button:enabled:active {
    position: relative;
    top: 1px;
}

button:disabled {
    color: #516069;
    background: linear-gradient(to bottom, #969696 5%, #777277 100%);
    background-color: #949494;
    box-shadow: 2px 3px 0px 0px #35383a;

}

#resetButton {
    color: rgb(207, 36, 36);
    margin-right: 10px;
    position: absolute;
    right: 20px;
    top: 27px;
    box-shadow: 2px 3px 8px 3px #390a0a;

}



/* main heading */

#heading__main {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    /* animation: alert 5s infinite; */
}

@keyframes alert {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.09)
    }

    100% {
        -webkit-transform: scale(1)
    }
}



/* turn counter */

#turncounter {
    text-align: center;
    margin: 30px 0px 10px 0px;
    font-size: 30px;
    animation: alert linear 2.5s infinite;
}

/* selectors container Gov and Fac */

#selectors-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#governor-selector {
    padding: 7px;
}

#facility {
    padding: 7px;
}


/* colony resources */

#colonyResources__list {
    text-align: left;
}


/* facility minerals */

#facility-inventory-flex-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150%;
    text-align: left;
    margin: 0 60px;
    width: 80%;

}

/* .center-in-facilities-container{
    text-align: center;
} */

.addToCartButton {
    margin-top: 10px;
    font-size: 12px;
    padding: 1.5px 10px;
    margin-left: 15px;

}



/* cart */

.cart {
    text-align: center;
}

#heading-cart {
    margin-bottom: 10px;
}

#purchaseButton {
    margin-top: 5px;
    text-align: center;
}



/* security */

#facility_security {
    width: 100px;
}

#colony_security {
    width: 100px;
}

#security_prompt {
    text-align: center;
}

#purchase-security {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#security-items-line {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.security-mineral-heading {
    margin: 5px 0px;
    font-size: 18px;

}

.security-mineral-input {
    margin-left: 8px;
}

.security-mineral-value {
    margin-right: 8px;
}

.security-number-to-recruit {
    margin-top: 20px;
    font-size: 18px;
}


/* governor recruiter */


#governor-items-line {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.governor-mineral-heading {
    margin: 5px 0px;
    font-size: 18px;

}

.governor-mineral-input {
    margin-left: 8px;
}

.governor-mineral-value {
    margin-right: 8px;
}

#governor-recruitment-cost {
    margin-top: 20px;
    font-size: 18px;
}

#governor-current-value {
    margin-top: 20px;
    font-size: 18px;
}

#button-recruit {
    width: 125px;
}


/* status */

#resources_list {
    padding: 20px 0px;
    text-align: left;
}

#facility_status {
    width: 100px;
}

#colony_status {
    width: 100px;
}

.left-align {
    text-align: left !important;
}

#governors-list {
    margin: 0;
    text-align: left;
    list-style-type: none;

}

#active-governors-heading {
    margin: 15px 0px 8px 0px;
    text-shadow: rgb(174, 204, 247) 1px 1px 7px;
    font-size: 18px;

}



/* pirates */

img {
    margin: 30px 0px 20px 0px;
}

#pirate-resources-container-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px;
    border-top: none;
    border-bottom: none;
    border-radius: 0px;
    min-height: none;
}

.pirate-resource-container {
    color: rgb(255, 255, 255);
    text-shadow: rgb(174, 204, 247) 1px 1px 7px;
    --darkreader-inline-color: #e8e6e3;
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: #74231b;
}



#pirate-ship-image {
    width: 200px;
    animation: wobble 4s infinite linear;
    /* Adjust the duration as needed */
}

@keyframes wobble {

    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(3deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(-3deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

/* tooltip */


#tooltip-img {
    width: 50px;
    margin-left: 10px;
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 100;
}

#tooltip-text {
    color: #313131;
    padding: 20px;
    font-weight: 500;
    font-size: 25px;
    width: 700px;
    border: #282829 solid 7px;
    border-radius: 20px;
    background-color: rgb(240, 243, 254);
    box-shadow: rgb(174, 204, 247) 1px 1px 7px;
    visibility: hidden;
    position: absolute;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 100px;
    z-index: 100;
}

#tooltip-heading {
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
    border-bottom: #282829 5px dotted;
    text-shadow: rgb(174, 204, 247) 1px 1px 7px;

}

@media screen {
    @media (max-width: 650px) {
        #tooltip-img {
            top: 70px;
        }

        #resetButton {
            top: 90px;
        }
    }
}

@media screen {
    @media (max-width: 750px) {

        #tooltip-text {
            width: 500px;
        }

        #tooltip-heading {

            line-height: 50px;

        }
    }
}